:root{
  --mainBlack:#222;
  --mainGreen:#82b340;
  --mainWhite:#fff;
  --mainGrey:#ececec;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--mainWhite);
  color: var(--mainBlack);
  font-family: 'Open Sans', sans-serif;
}
